@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--gray-1);
    --foreground: var(--gray-12);

    --card: var(--color-page-background);
    --card-foreground: 240 10% 3.9%;

    --popover: var(--color-page-background);
    --popover-foreground: var(--gray-12);

    --primary: var(--gray-12);
    --primary-foreground: var(--gray-1);

    --secondary: var(--gray-12);
    --secondary-foreground: var(--gray-1);

    --muted: var(--gray-5);
    --muted-foreground: 240 3.8% 46.1%;

    --accent: var(--gray-5);
    --accent-foreground: var(--gray-12);

    --destructive: var(--red-9);
    --destructive-foreground: var(--red-12);

    --border: var(--gray-a6);
    --input: var(--gray-a6);
    --ring: var(--accent-8);

    /*--radius: 0.5rem;*/
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .lush-sky {
    background-image: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), radial-gradient(268.89% 268.89% at 88.33% 3.5%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 0.52%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(226deg, #BDBBBE 3.21%, #9D9EA3 113.49%);
    background-blend-mode: soft-light, lighten, normal;
  }
  .h {
    --stop:
    background: linear-gradient(187deg, hsla(0, 0%, 39.3%,.4), 0.50) 5.34%, rgba(0, 0, 0, 0.50) 202.36%), #C9CCD3;
    background-blend-mode: lighten, normal;
  }

}
